.main-container{
      display: grid;
      grid-template-columns: auto auto auto;
     
      width:500px ; height:500px;
      background-color: aquamarine;
    
}
.box{
    background-color: antiquewhite;
    height: 100px;
    width: 100px;
    
}